<div class="container-fluid">
  <body>
    <header>
      <nav class="navbar navbar-light-bg">
        <a routerLink="">Home</a>
        <a routerLink="/product">Products</a>
        <a routerLink="/cart">Cart</a>
      </nav>
    </header>
    
    <main>
      <h1>Welcome to the Medical Store</h1>
      <p>This is the Medical Store wherein you can procure your own Medical Equipment!<br>
      Make sure to share this website among other users that also require medical needs.</p>
      <hr>
      <h2>Here are the list of products!<a routerLink="/product">Products</a></h2>
    </main>
    <router-outlet></router-outlet>
  </body>
</div>